{% load static tom_common_extras targets_extras mop_extras %}
<dl class="row">
    <dt class="col-sm-6">Alive</dt>
    <dd class="col-sm-6">{{ target.alive }}</dd>
    <dt class="col-sm-6">Observing mode</dt>
    <dd class="col-sm-6">{{ target.observing_mode }}</dd>
    <dt class="col-sm-6">TAP priority</dt>
    <dd class="col-sm-6">{{ target.tap_priority }}&#8723;{{ target.tap_priority_error }}</dd>
    <dt class="col-sm-6">TAP priority longtE</dt>
    <dd class="col-sm-6">{{ target.tap_priority_longte }}&#8723;{{ target.tap_priority_longte_error }}</dd>
    <dt class="col-sm-6">Interferometry candidate</dt>
    <dd class="col-sm-6">{{ target.interferometry_candidate }}</dd>
    <dt class="col-sm-6">t<sub>0</sub> [HJD]</dt>
    <dd class="col-sm-6">{{ target.t0 }}&#8723;{{ target.t0_error }}</dd>
    <dt class="col-sm-6">u<sub>0</sub></dt>
    <dd class="col-sm-6">{{ target.u0 }}&#8723;{{ target.u0_error }}</dd>
    <dt class="col-sm-6">t<sub>E</sub> [days]</dt>
    <dd class="col-sm-6">{{ target.tE }}&#8723;{{ target.tE_error }}</dd>
    <dt class="col-sm-6">{{ 'Mag now' }}</dt>
    <dd class="col-sm-6">{{ target.mag_now }}</dd>
    <dt class="col-sm-6">{{ 'Latest data HJD' }}</dt>
    <dd class="col-sm-6">{{ target.latest_data_hjd }}</dd>
    <dt class="col-sm-6">{{ 'Latest data UTC' }}</dt>
    <dd class="col-sm-6">{{ target.latest_data_utc }}</dd>
    <dt class="col-sm-6">{{ 'Last fit JD' }}</dt>
    <dd class="col-sm-6">{{ target.last_fit }}</dd>
</dl>

{% classification_form %}
