{% load targets_extras %}
<div class="btn-group" role="group" aria-label="Target detail buttons">
    <a href="{% url 'tom_targets:update' pk=target.id %}" title="Update target" class="btn  btn-outline-warning">Update</a>
    {% if sharing %}
    <a href="{% url 'tom_targets:share' pk=target.id %}" title="Share target" class="btn  btn-outline-warning">Share</a>
    {% endif %}
    <a href="{% url 'tom_targets:delete' pk=target.id %}" title="Delete target" class="btn  btn-outline-danger">Delete</a>
    {% get_buttons target %}
</div>
