{% extends 'tom_common/base.html' %}
{% load comments bootstrap4 tom_common_extras targets_extras observation_extras dataproduct_extras static cache dataproduct_extras mop_extras %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_targets/css/main.css' %}">
{% endblock %}
{% block title %}
    Priority Targets
{% endblock %}

{% block content %}
<div class="row content">
    <div class="col">
    {% current_timestamp %}
    <h3>Priority Targets</h3>
<p>This page lists targets assigned a high priority as either a stellar or a long-tE event.  Targets are excluded
if they have a non-microlensing classification, or are flagged as a known galaxy, YSO etc.
<br>Tagets marked in beige are less than 5 days before the predicted peak of brightness.
<br>Targets with underlined name in bold are currently observed.</p>
    <div class="row">
        <div class="card" style="{width: 0.5em;}">
          <div class="card-header">
            <h4>Stellar/planetary Targets</h4>
          </div>
            <div class="card-body">
            {% if stellar_targets|length == 20 %}
              <p class="warning">Warning: Number of candidate targets returned equals or exceeds the maximum allowed</p>
            {% endif %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Target</th>
                        <th>t0 [days]</br>-2460000.0</th>
                        <th>u0</th>
                        <th>tE [JD]</th>
                        <th>Current mag</th>
                        <th>Baseline mag</th>
                        <th>TAP Priority</th>
                    </tr>
                </thead>
                <tbody>
            {% for target in stellar_targets %}
                {% if target.t0_now_diff > 0 and target.t0_now_diff < 5%}
                     <tr>
                {% else %}
                     <tr>
                {% endif %}
                {% if target.observed == True %}
                     <td><a style="font-weight:bold; text-decoration: underline;" href="{% url 'targets:detail' target.id %}">{{target.name}}</a></td>
                {% else %}
                     <td><a href="{% url 'targets:detail' target.id %}">{{target.name}}</a></td>
                {% endif %}
                    <td>{{target.t0}}&#8723;{{target.t0_error}}</td>
                    <td>{{target.u0}}&#8723;{{target.u0_error}}</td>
                    <td>{{target.tE}}&#8723;{{target.tE_error}}</td>
                    <td>{{target.mag_now}}</td>
                    <td>{{target.baseline_magnitude}}</td>
                    <td>{{target.priority}}&#8723;{{target.priority_error}}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
                </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h4>Long t<sub>E</sub> Targets</h4>
          </div>
            <div class="card-body">
            {% if bh_targets|length == 20 %}
              <p class="warning">Warning: Number of candidate targets returned equals or exceeds the maximum allowed</p>
            {% endif %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Target</th>
                        <th>t0 [days]</br>-2460000.0</th>
                        <th>u0</th>
                        <th>tE [JD]</th>
                        <th>Current mag</th>
                        <th>Baseline mag</th>
                        <th>TAP Priority longtE</th>
                    </tr>
                </thead>
                <tbody>
            {% for target in bh_targets %}
                {% if target.t0_now_diff > 0 and target.t0_now_diff < 5 %}
                     <tr>
                {% else %}
                     <tr>
                {% endif %}
                {% if target.observed == True %}
                     <td><a href="{% url 'targets:detail' target.id %}">{{target.name}}</a></td>
                {% else %}
                     <td><a href="{% url 'targets:detail' target.id %}">{{target.name}}</a></td>
                {% endif %}
                    <td>{{target.t0}}&#8723;{{target.t0_error}}</td>
                    <td>{{target.u0}}&#8723;{{target.u0_error}}</td>
                    <td>{{target.tE}}&#8723;{{target.tE_error}}</td>
                    <td>{{target.mag_now}}</td>
                    <td>{{target.baseline_magnitude}}</td>
                    <td>{{target.priority}}&#8723;{{target.priority_error}}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
            </div>
</div>
</div>
</div>
{% endblock %}